:root{
    --bg-image: url(assets/DEVinWallpaper_1.png);
    --bg-color: #198754;
    --bg-btn: #198754;
    --white: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #30e8bf, #ff8235);

}

.navbar{
    background-color: var(--bg-color);
    margin-bottom: 30px;
}

.logo-nav{
    width: 120px;
    margin-right: 20px;
}
.img-logo{
background-color: whitesmoke;
padding: 5px;
border-radius: 5px;
margin-right: 5px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    max-width: 1000px;
    min-height: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.459);
}
.row {
    --bs-gutter-x: 0!important;
}
.form{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
}
.form > label{
    font-size: 1.5em;
    font-weight:bold ;
}
.input-item{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cecdcd;
    background-color: #f1f0f0;
    padding-left: 10px;
    font-size: 1.2em;
}
.menu{
    display: flex;

}
.btn-insert{
    font-size: 1.5em;
    font-weight:bold ;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--white);
    background-color: var(--bg-btn);
    color: var(--white);
    margin-left: 5px;
    padding: 0 25px;
    transition: .5s;
}
.btn-insert:hover{
    border: 1px solid var(--bg-btn);
    background-color: var(--white);
    color: var(--bg-btn);
}
.resultado{
    background-color: white;
    margin-top: 30px;
    width: 90%;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 5px;
}
.item{
    list-style: none;
}
.total{
    border-left: 1px solid black;
    padding-left: 10px;
}
.item > li{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

.excluiItem{
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    color: var(--white);
    background-color: #fd4b4b;
}
.valor{
    color: var(--bg-btn);
    font-weight: bold;
}
.content-btn{
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.btn-limpar{
    font-size: 1.5em;
    font-weight:bold ;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--white);
    background-color: #fd4b4b;
    color: var(--white);
    margin-left: 5px;
    padding: 0 25px;
    transition: .5s;
}
.btn-limpar:hover{
    border: 1px solid #fd4b4b;
    background-color: var(--white);
    color: #fd4b4b;
}

#exampleModal{
    display: none;
    position: fixed;
    transition: 1s;
}
.modal{
   top: 200px!important;
}
.modal-dialog{
    max-width: 255px!important;
}
.modal-body > input{
    padding: 5px;
    font-size: 1.1em;
}
.modal-btn-valor{
    padding: 5px;
    text-align: center;
}
.btn-valor{
    text-align: center;
    padding: 5px 30px;
    background-color: var(--bg-btn);
    color: var(--white);
    border-radius: 5px;
    font-weight: bold;
}

.taxado{
    text-decoration: line-through;
}

.footer {
    background-color: var(--bg-color);
    width: 100%;
    margin-top: 20px;

}
.footer > p{
    text-align: center;
    margin-bottom: 0;
}
.footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .redes ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-bottom: 0;
}
.footer .redes ul li {
    margin-right: 40px;
}
.footer .redes ul li a {
    color: white;
}

@media screen and (max-width:540px) {
    .resultado{
        width: 100%;
    }
}
